In [1]:
import pandas as pd
import numpy as np

## Question 1

In [2]:
pd.__version__

'2.2.2'

## Question 2

In [3]:
file_path = "./laptops.csv"

In [4]:
df = pd.read_csv(file_path)

In [5]:
df.head()

,Laptop,Status,Brand,Model,CPU,RAM,Storage,Storage type,GPU,Screen,Touch,Final Price
0,ASUS ExpertBook B1 B1502CBA-EJ0436X Intel Core...,New,Asus,ExpertBook,Intel Core i5,8,512,SSD,NaN,15.6,No,1009.00
1,Alurin Go Start Intel Celeron N4020/8GB/256GB ...,New,Alurin,Go,Intel Celeron,8,256,SSD,NaN,15.6,No,299.00
2,ASUS ExpertBook B1 B1502CBA-EJ0424X Intel Core...,New,Asus,ExpertBook,Intel Core i3,8,256,SSD,NaN,15.6,No,789.00
3,MSI Katana GF66 12UC-082XES Intel Core i7-1270...,New,MSI,Katana,Intel Core i7,16,1000,SSD,RTX 3050,15.6,No,1199.00
4,HP 15S-FQ5085NS Intel Core i5-1235U/16GB/512GB...,New,HP,15S,Intel Core i5,16,512,SSD,NaN,15.6,No,669.01

In [6]:
row = len(df)
print(f"Number of samples: {row}")

Number of samples: 2160

## Question 3

In [7]:
brands = df['Brand'].nunique()
print(f"Number of brands: {brands}")

Number of brands: 27

## Question 4

In [8]:
missing_values = df.isna().any().sum()
print(f"Number of missing values: {missing_values}")

Number of missing values: 3

## Question 5

In [9]:
max_price = df[df['Brand'] == 'Dell']['Final Price'].max()
print(f"The maximum price for Dell: {max_price}")

The maximum price for Dell: 3936.0

## Question 6

In [10]:
initial_median = df['Screen'].median()
print(f"Initial median: {initial_median}")

most_frequent_value = df['Screen'].mode()[0]
print(f"Most frequent value: {most_frequent_value}")

df['Screen'].fillna(most_frequent_value, inplace=True)

new_median = df['Screen'].median()
print(f"New median after filling missing values: {new_median}")

Initial median: 15.6
Most frequent value: 15.6
New median after filling missing values: 15.6

/tmp/ipykernel_8805/551836919.py:7: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Screen'].fillna(most_frequent_value, inplace=True)

## Question 7

In [11]:
X = df[df['Brand'] == 'Innjoo'][['RAM', 'Storage', 'Screen']].to_numpy()
X

array([[  8. , 256. ,  15.6],
       [  8. , 512. ,  15.6],
       [  4. ,  64. ,  14.1],
       [  6. ,  64. ,  14.1],
       [  6. , 128. ,  14.1],
       [  6. , 128. ,  14.1]])

In [12]:
XTX = X.T @ X
XTX_inv = np.linalg.inv(XTX)
XTX_inv

array([[ 2.78025381e-01, -1.51791334e-03, -1.00809855e-01],
       [-1.51791334e-03,  1.58286725e-05,  4.48052175e-04],
       [-1.00809855e-01,  4.48052175e-04,  3.87214888e-02]])

In [13]:
y = np.array([1100, 1300, 800, 900, 1000, 1100])
w = XTX_inv @ X.T @ y
result_sum = np.sum(w)
print(f"The sum of all elements of result: {result_sum}")

The sum of all elements of result: 91.29988062995815